<% include ../partials/header %>


<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To KickCl0ne!</h1>
            <p>View our Funded past projects</p>
            <h4>Currently we helped to <strong> Fund </strong> <%= funded.length %>  projects</h4>
        </div>
    </header>

    <div id="ruslan" class="row text-center" x-ta="<%= funded.length %>" style="display:flex; flex-wrap: wrap;">
        <% funded.forEach(function(fundedP, pid){ %>
        <div class="col-md-3 col-sm-6" style="margin-top: 10px;margin-bottom: 10px;">
            <div class="thumbnail">
                <img src="<%= fundedP.image.secure_url %>" alt="<%= fundedP.image.public_id %>" style="width:100%;height:200px;">
                <div class="caption">
                    <h4><%= fundedP.name %></h4>
                    <p><%= fundedP.oneLiner %></p>
                </div>
                <div class="caption">
                    <h5>Raised $<%= fundedP.moneyRaised %> Out of $<%= fundedP.moneyToRaise %></h5>
                </div>
                <p>
                    <a href="/projects/<%= fundedP._id %>" class="btn btn-primary">More Info</a>
                </p>
            </div>
        </div>
        <% }); %>
    </div>
</div>



<% include ../partials/footer %>