<% include ../partials/header %>

<!-- LOAD Sticky nav JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <div class="container">
     <header class="jumbotron" style=" font-family: 'Exo 2';" >
         <div class="container"  >

             <h1><span class="glyphicon glyphicon glyphicon-hourglass" aria-hidden="true"></span>Welcome To KickCl0ne!</h1>
             <p>View our projects from all over the world</p>
             <h4>Currently having <%= projects.length %> <strong> Active </strong> projects</h4>
             <p>
                <a class="btn btn-primary btn-large" href="/projects/new">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a New project
                </a>
             </p>
         </div>
     </header>
     
     <div id="ruslan" class="row  display-flex text-center" x-ta="<%= projects.length %>" style="display:flex; flex-wrap: wrap;">
        <% projects.forEach(function(project, pid){ %>
            <div class="col-md-3 col-sm-6" style="margin-top: 10px;margin-bottom: 10px;">
                <div class="thumbnail">

                    <img  src="<%= project.image.secure_url %>"  alt="<%= project.image.public_id %>"style="width:100%;height:200px;" >

                   <div class="caption">
                       <h4><%= project.name %></h4>
                       <p><%= project.oneLiner %></p>
                   </div>
                        <div align="bottom">
                        <span> <label>Time Left</label>
                            <font color = "red" size='sm'>
                                <label id="demo_<%=pid%>"></label>
                            </font>
                        </span>
                        <div class="caption">
                           <h5>Raised $<%= project.moneyRaised %> Out of $<%= project.moneyToRaise %></h5>
                       </div>
                       <p>
                           <a href="/projects/<%= project._id %>" class="btn btn-primary">More Info</a>
                       </p>
                    </div>
                </div>
            </div>
        <% }); %>
        <script>
        var projects = <%- JSON.stringify(projects) %>
        </script>
       <script src="/scripts/timer.js"></script>
    </div>
</div>



<% include ../partials/footer %>