<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <li class="list-group-item active">Project name: &nbsp&nbsp&nbsp&nbsp	<%=project.name%></li>
                <li class="list-group-item">Project owner: &nbsp&nbsp&nbsp&nbsp  <%=project.owner%> </li>
                <li class="list-group-item">Donate: &nbsp&nbsp&nbsp&nbsp
	                <form class="form-inline" action="/projects/<%= project._id %>" method="POST">
                        <input class="form-control" type="number" name="donation" placeholder="Donate to project" value=0>
	                	<button class="btn btn-sm btn-success">Apply Donation!</button
                	</form>
                </li>
                <li class="list-group-item">Time Left
                <p id="demo"></p></li>
					<script>
					// Set the date we're counting down to
					var countDownDate = new Date("<%=project.endTime%>").getTime();

					// Update the count down every 1 second
					var x = setInterval(function() {

					    // Get todays date and time
					    var now = new Date().getTime();
					    
					    // Find the distance between now an the count down date
					    var distance = countDownDate - now;
					    
					    // Time calculations for days, hours, minutes and seconds
					    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
					    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
					    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
					    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
					    
					    // Output the result in an element with id="demo"
					    document.getElementById("demo").innerHTML = days + "d " + hours + "h "
					    + minutes + "m " + seconds + "s ";
					    
					    // If the count down is over, write some text 
					    if (distance < 0) {
					        clearInterval(x);
					        document.getElementById("demo").innerHTML = "EXPIRED";
					    }
						}, 1000);
					</script>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= project.image %>">
                <div class="caption-full">
                    <h4 class="pull-right">Raised $<%= project.moneyRaised %> From $<%= project.moneyToRaise %> Goal</h4>
                    <h4><a><%=project.name%></a></h4>
                    <p><%= project.description %></p>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/projects/<%= project._id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% project.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right"><%= comment.author.enterDate.toISOString().split('T')[0]; %></span>
                            <p>
                                <%= comment.text %> 
                            </p>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>

<% include ../partials/footer %>