<% include ../partials/header %>


 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To KickCl0ne!</h1>
             <p>View our Funded past projects</p>
             <h4>Currently we helped to <strong> Fund </strong> <%= projects.length %>  projects</h4>
         </div>
     </header>
     
     <div id="ruslan" class="row text-center" x-ta="<%= funded.length %>" style="display:flex; flex-wrap: wrap;">
        <% funded.forEach(function(fundedP, pid){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= fundedP.image %>">
                   <div class="caption">
                       <h4><%= fundedP.name %></h4>
                   </div>
                    <div class="caption">
                       <h5>Raised $<%= fundedP.moneyRaised %> Out of $<%= fundedP.moneyToRaise %></h5>
                   </div>   
                   <p>
                       <a href="/funded/<%= fundedP._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>



<% include ../partials/footer %>